<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="Debug" value="true" />
    <add key="Product" value="环境监测系统" />
    <add key="Port" value="5010" />
    <add key="ArqTimes" value="3" />
    <add key="ArqTimeout" value="500" />
    <add key="LogDirectory" value="" />
    <add key="Database" value="Resources\Databases\em.mdb" />
  </appSettings>
</configuration>